.bdstyle1 {
    border-style: solid;
}

.bdstyle2 {
    border-style: double;
}

.bdstyle3 {
    border-style: dotted;
}

.bdstyle4 {
    border-style: dashed;
}

.bdstyle5 {
    border-style: inset;
}

.bdstyle6 {
    border-style: outset;
}

.bddesign {
    /* background-color: blueviolet; */
    /* background: #144382; */
    background: yellowgreen;
    /* border-style: dotted; */

    width: 300px;
    height: 100px;

    /* border-radius: 40px; */
    /* border-radius: 10px 40px; */
    /* border-radius: 20px 50px 30px 20px;*/

    /* short hand */
    /* b s c */
    border: 5px dashed yellow;
}

ul {
    /* list-style-type: none; */
    /* list-style: none; */
}

li {
    border: 1px;
    border-style: dashed;
    border-color: blue;

    /* list-style-type: circle;
    list-style-type: decimal;
    list-style-type: square; */
    /* list-style-type: decimal-leading-zero; */

    list-style-position: inside;
}

/* Attribute Selector */

input[type="text"] {
    width: 250px;
    background-color: aqua;
    color: bisque;
    border-radius: 5px;
    border-style: double;
}

input[type="password"],
input[type="email"] {
    width: 250px;
    background-color: aqua;
    color: bisque;
    border-radius: 5px;
    border-style: double;
}

body {
    background-image: url("logoimg/images.png");
    /* background-repeat: repeat; */
    background-repeat: no-repeat;

    /* background-position: center; */
    /* background-position: left; */
    /* background-position: right; */
    /* background-position: top; */
    /* background-position: bottom; */

    /* background-position: right top; */
    /* background-position: left top; */
    /* background-position: right bottom; */
    /*background-possition: left bottom; */

    background-attachment: fixed;
    /* background-attachment: scroll; */
    




   
}